footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
    margin: 0 10px;
  }
  
  .social-links img {
    width: 24px; 
    height: 24px;
  }