input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  div.ng-invalid.ng-touched {
    color: red;
    margin-top: 5px;
  }


  .form-login.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .form-login-container {
    width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid aquamarine;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  button[type="submit"] {
    margin-left:350px;
  }