<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
    <form>
        <h2>Regístrate</h2>
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre">
        </div>
        <div>
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido">
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email">
        </div>
        <div>
          <label for="url">URL:</label>
          <input type="text" id="url" name="url">
        </div>
        <div>
          <label for="contrasena">Contraseña:</label>
          <input type="password" id="contrasena" name="contrasena">
        </div>
        <div>
          <label for="repetirContrasena">Repetir Contraseña:</label>
          <input type="password" id="repetirContrasena" name="repetirContrasena">
        </div>
        <button type="submit">Registrarse</button>
      </form>
    </div>


</body>
</html>
