<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2>Regístrate</h2>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" formControlName="name" [ngClass]="{ 'is-invalid': registerForm.get('name').invalid && (registerForm.get('name').dirty || registerForm.get('name').touched) }">
        <div class="invalid-feedback" *ngIf="registerForm.get('name').invalid && (registerForm.get('name').dirty || registerForm.get('name').touched)">
          <div *ngIf="registerForm.get('name').errors.required">El nombre es obligatorio.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Apellido:</label>
        <input type="text" id="last_name" formControlName="last_name" [ngClass]="{ 'is-invalid': registerForm.get('last_name').invalid && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched) }">
        <div class="invalid-feedback" *ngIf="registerForm.get('last_name').invalid && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched)">
          <div *ngIf="registerForm.get('last_name').errors.required">El apellido es obligatorio.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" [ngClass]="{ 'is-invalid': registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched) }">
        <div class="invalid-feedback" *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
          <div *ngIf="registerForm.get('email').errors.required">El email es obligatorio.</div>
          <div *ngIf="registerForm.get('email').errors.email">El email no es válido.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="photo">Foto de perfil:</label>
        <input type="text" id="photo" formControlName="photo">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched) }">
        <div class="invalid-feedback" *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
          <div *ngIf="registerForm.get('password').errors.required">La contraseña es obligatoria.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="repeatPassword">Repetir Contraseña:</label>
        <input type="password" id="repeatPassword" formControlName="repeatPassword" [ngClass]="{ 'is-invalid': registerForm.get('repeatPassword').invalid && (registerForm.get('repeatPassword').dirty || registerForm.get('repeatPassword').touched) }">
        <div class="invalid-feedback" *ngIf="registerForm.get('repeatPassword').invalid && (registerForm.get('repeatPassword').dirty || registerForm.get('repeatPassword').touched)">
          <div *ngIf="registerForm.get('repeatPassword').errors.required">La confirmación de contraseña es obligatoria.</div>
        </div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </form>
  </div>
</body>
</html>