
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    align-items: center; 
    padding:5%;
    
  }
  
  .card {
    background-color: #ebe4e4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid aquamarine;
    margin: 70px;
  }
  
  .even-card {
    background-color: #ebebeb;
  }
  
  .odd-card {
    background-color: #f5f5f5;
  }
  .even-card {
    background-color: #ebebeb;
  }
  
  .odd-card {
    background-color: #f5f5f5;
  }
  
  .even-button {
    background-color: #86c7f3;
    color: white;
  }
  
  .odd-button {
    background-color: #f3a786;
    color: white;
  }




  .add-book-form {
    width: 800px;
    margin-top: 20px;
    padding: 40px;
    border: 3px solid aquamarine;
    border-radius: 10px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ebe4e4;
    margin:10px;
  }
  
  .add-book-form h2 {
    margin-bottom: 20px;
  }
  
  .add-book-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-book-form input[type="number"],
  .add-book-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .add-book-form button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-book-form button[type="submit"]:hover {
    background-color: #45a049;
  }



  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  input[type="text"] {
    width: 400px;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid aquamarine;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    color: #333;
  }
  
  input[type="text"]::placeholder {
    color: #999;
  }
  
  input[type="text"]:focus {

    outline: none;
    border-color: aquamarine;
    box-shadow: 0 4px 6px rgba(0, 128, 128, 0.3);
  }
  
  button {
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 3px solid aquamarine;
    background-color: rgb(9, 184, 125);
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: aqua;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 128, 128, 0.3);
  }