<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>MyBooks</h1>
        <nav>
         <!--  usuario no conectado  -->

          <a *ngIf="!usuarioService.logueado" routerLink="/home">Home</a>
          <a *ngIf="!usuarioService.logueado" routerLink="/register">Register</a>
          <a *ngIf="!usuarioService.logueado" routerLink="/login">Login</a>
      
          <!--   usuario conectado    -->
          
          <a *ngIf="usuarioService.logueado" routerLink="/profile">Profile</a>
          <a *ngIf="usuarioService.logueado" routerLink="/books">Books</a>
          <a *ngIf="usuarioService.logueado" routerLink="/UpdateBooks">UpdateBooks</a>
          <a *ngIf="usuarioService.logueado" routerLink="/addBook">AddBook</a>
        </nav>
      </header>
    
</body>
</html>
