

.add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.add-book-form {
    width: 800px;
    margin-top: 20px;
    padding: 40px;
    border: 3px solid aquamarine;
    border-radius: 10px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ebe4e4;
    margin:10px;
  }
  
  .add-book-form h2 {
    margin-bottom: 20px;
  }
  
  .add-book-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-book-form input[type="number"],
  .add-book-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .add-book-form button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-book-form button[type="submit"]:hover {
    background-color: #45a049;
  }